@charset "UTF-8";

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 16px;
}

body {
    background-image: linear-gradient(to right, #FFC000, #E5DE12);
}

main {
    margin: auto;
    width: 500px;
    padding: 12px;
    box-shadow: 3px 3px 5px #1A6796;
}